# Lab 3: Project Jump Start (Worksheet)

**Learning Objectives:**

- Using `try` and `except` to create a safe type-casting module. (Code)
- Reading/writing data files using `pandas`. (Code)
- Manipulating data using lists and dictionaries. (Code)
- Develop a complex algorithm by breaking the task down into simple steps. (Code)

In this lab, we will compute one of the metrics discussed in last class, which is for each term, room and day of week, what is the proportion of "prime time" (from say 10 to 16) that is utilized. 

# Module 1: Applying String Splitting and Casting

In [ ]:
# Code demonstration

## Partner Exercise 1
Create a function that converts a given `inputTime` in string format `hh:mm:ss` into a number: hour+miniutes/60+seconds/3600.

In [ ]:

import numpy as np

def convert(inputTime):
    # Complete your code here
    
print(convert('20:30:00'))
print(convert('TBA'))
print(convert(np.nan))

20.5
nan
nan

# Demonstration of Loading Data with Pandas (More Next Class)

In [48]:
schedule=pd.read_excel('Marshall_Course_Enrollment_1516_1617.xlsx')
cancelled=pd.read_excel('Cancelled_Courses_1516_1617.xlsx')
master=schedule.append(cancelled)
capacities=pd.read_excel('Marshall_Room_Capacity_Chart.xlsx')

print(capacities['Room'][:10])
master.info()
master.head()

master.to_csv('Merged_Enrollment.csv')

0    ACC 306B
1      ACC201
2      ACC205
3      ACC236
4      ACC303
5     ACC306B
6      ACC310
7      ACC312
8      BRI202
9     BRI202A
Name: Room, dtype: object
<class 'pandas.core.frame.DataFrame'>
Int64Index: 6131 entries, 0 to 3231
Data columns (total 26 columns):
Course                   3363 non-null object
Course Prefix            6131 non-null object
Course Suffix            6131 non-null object
Department               3363 non-null object
First Begin Time         5629 non-null object
First Days               5553 non-null object
First End Time           5629 non-null object
First Instructor         5664 non-null object
First Instructor UID     5645 non-null float64
First Room               5696 non-null object
Link                     936 non-null object
Max Units                6131 non-null float64
Min Units                6131 non-null float64
Mode                     6131 non-null object
Reg Count                6131 non-null int64
Seats                    6131 non-null int64
Second Begin Time        43 non-null object
Second Days              43 non-null object
Second End Time          43 non-null object
Second Instructor        595 non-null object
Second Instructor UID    595 non-null float64
Second Room              19 non-null object
Section                  6131 non-null int64
Session                  6131 non-null int64
Term                     6131 non-null int64
Title                    6131 non-null object
dtypes: float64(4), int64(5), object(17)
memory usage: 1.3+ MB

# Module 2: Loading Data into a Dictionary and List

In [ ]:
# Code demonstration


## Exercise 2:
Load the data from the master file and put it into a dictionary with keys (term,room,day), with each entry being a list of the earliest begin time and the latest end time.

In [44]:
#Importing packages
import pandas as pd
import numpy as np

#Reading excel files
master=pd.read_csv('Merged_Enrollment.csv')
capacities=pd.read_excel('Marshall_Room_Capacity_Chart.xlsx')

roomSet=set(capacities.Room)
ans={}

df=master.head(50)

for index,row in df.iterrows():
    # Complete your code here.
                
ans

{(20153, 'ACC201', 'H'): (12.0, 13.833333333333334),
 (20153, 'ACC201', 'T'): (12.0, 13.833333333333334),
 (20153, 'ACC205', 'H'): (10.0, 13.833333333333334),
 (20153, 'ACC205', 'M'): (12.0, 15.833333333333334),
 (20153, 'ACC205', 'T'): (10.0, 13.833333333333334),
 (20153, 'ACC205', 'W'): (12.0, 15.833333333333334),
 (20153, 'ACC236', 'M'): (10.0, 11.833333333333334),
 (20153, 'ACC236', 'W'): (10.0, 11.833333333333334),
 (20153, 'ACC303', 'H'): (8.0, 15.833333333333334),
 (20153, 'ACC303', 'M'): (8.0, 17.833333333333332),
 (20153, 'ACC303', 'T'): (8.0, 15.833333333333334),
 (20153, 'ACC303', 'W'): (8.0, 17.833333333333332),
 (20153, 'ACC310', 'H'): (8.0, 17.833333333333332),
 (20153, 'ACC310', 'M'): (8.0, 15.833333333333334),
 (20153, 'ACC310', 'T'): (8.0, 17.833333333333332),
 (20153, 'ACC310', 'W'): (8.0, 15.833333333333334),
 (20153, 'BRI5', 'H'): (10.0, 11.833333333333334),
 (20153, 'BRI5', 'T'): (10.0, 11.833333333333334),
 (20153, 'HOH EDI', 'F'): (12.0, 15.833333333333334),
 (20153, 'JKP202', 'H'): (12.5, 13.833333333333334)}

# Code Demonstration: Dumping Data Back into a DataFrame

In [ ]:
lines=[]
for term,room,day in ans:
    beg,end=ans[term,room,day]
    lines.append([term,room,day,beg,end])
    
output=pd.DataFrame(lines,columns=['Term','Room','Day','Earliest','Latest'])

output.to_csv('Room_Simple_Usage.csv')
output.info()
output.describe()
output.head(10)

# Module 3: Developing an Algorithm to Compute a Non-Trivial Metric

## Exercse 3: 
Complete the following code to compute the total usage within prime time

In [46]:
primeStart=10
primeEnd=16
sortedList=[(8,10),(10.5,11.5),(11,12),(14,17),(18,20)]
usage=0
prev=0
for start,end in sortedList:
    # Complete your code here
    
print('Total usage within prime time',usage)
print('Proportion of prime time used',usage/(primeEnd-primeStart))

Total usage within prime time 3.5
% of prime time used 0.5833333333333334

# Putting it all together

Create code that outputs a file for each term, room, and day the percentage of prime time used.

In [56]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

primeStart=10
primeEnd=16
schedule=pd.read_excel('Marshall_Course_Enrollment_1516_1617.xlsx')
cancelled=pd.read_excel('Cancelled_Courses_1516_1617.xlsx')
master=schedule.append(cancelled)
capacities=pd.read_excel('Marshall_Room_Capacity_Chart.xlsx')



def convert(inputTime):
    #Complete code from exercise 1

roomSet=set(capacities.Room)
ans={}


def loadDataDict(df,roomSet):
    # Complete your code here from modification of exercise 2

    return ans
                    
def computeUsage(inputList, primeStart,primeEnd):
    # Complete your code here from exercise 3

lines=[]
for term,room,day in loadDataDict(master,roomSet):
    lines.append([term,room,day,computeUtilization(ans[term,room,day],primeStart,primeEnd)])

output=pd.DataFrame(lines,columns=['Term','Room','Day','Utilization'])
output.to_csv('RoomUsage.csv')
output.head()

    Term     Room Day  Utilization
0  20153   ACC303   M     0.583333
1  20153   ACC303   W     0.583333
2  20153   ACC303   T     0.583333
3  20153   ACC303   H     0.583333
4  20153  HOH EDI   F     0.555556

[[1, 2], [3], [4, 6]]