# Lists

### Introduction

In [10]:
entries = [1, 2, 3]
entries

[1, 2, 3]

In [11]:
entries = [1, 2, 3, "Python"]
entries

[1, 2, 3, 'Python']

In [13]:
entries[2] + 1

4

In [35]:
entries = [1, 2, 3, ["R", "Python"]] # nested list

In [17]:
entries

[1, 2, 3, ['R', 'Python']]

Unlike strings, lists are mutable. This means that you can change elements in it

In [19]:
entries[0] = 100
entries

[100, 2, 3, ['R', 'Python']]

In [23]:
entries[3] # gives you the sublist

['R', 'Python']

In [24]:
# What if I wanted to access "Python"?

entries[3][1]

'Python'

### Traversing a List

In [26]:
# we can use a for or while loop

for entry in entries: 
    print(entry)

100
2
3
['R', 'Python']

### List Operators

In [27]:
# Concatenate two lists using the +
a = [1, 2, 3]
b = [4, 5, 6]

a + b

[1, 2, 3, 4, 5, 6]

In [28]:
# Repeat a list n times using the *

a*4

[1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3]

### List Slicing

In [75]:
entries

[1, 2, 3, ['R', 'Python'], 300]

In [31]:
entries[1:3] #prints element at index 1 up to and excluding element at index 3

[2, 3]

In [32]:
entries[:3]

[100, 2, 3]

In [79]:
entries[0:5:2] # lists every other element [start:end:step]

[1, 3, 300]

In [80]:
entries[::2]

[1, 3, 300]

In [82]:
entries[:-1] # without the last element

[1, 2, 3, ['R', 'Python']]

In [81]:
entries[::-1] # list in reverse order

[300, ['R', 'Python'], 3, 2, 1]

### List Methods

In [36]:
# append or add an element
entries.append(300)
entries

[1, 2, 3, ['R', 'Python'], 300]

In [51]:
# extend appends a list and not just one element

a = [4, 2, 0, 8]
b = [10, 5, 2, 6]

a.extend(b)
a

[4, 2, 0, 8, 10, 5, 2, 6]

In [52]:
# sorting a list
a.sort()
a

[0, 2, 2, 4, 5, 6, 8, 10]

In [53]:
a.sort(reverse = True)
a

[10, 8, 6, 5, 4, 2, 2, 0]

In [54]:
# deleting elements from a list

print(a)
del a[0]
print(a)

[10, 8, 6, 5, 4, 2, 2, 0]
[8, 6, 5, 4, 2, 2, 0]

In [56]:
# what if you know what you want to delete? Suppose that 
# I want to delet the 2's

a.remove(2)
print(a)

[8, 6, 5, 4, 0]

In [57]:
# The pop() function deletes an element at a certain index, 
# and returns that element

x = a.pop(2)
print(x)
print(a)

5
[8, 6, 4, 0]

### Useful Functions for Lists

In [58]:
a = [4, 5, 61, 89]

In [59]:
len(a)

4

In [60]:
max(a)

89

In [62]:
sum(a)

159

#### Rewrite the function the computes the average of a list of numbers entered by the user using a list

numlist = [] # always initialize the list

while True:
    inp = input("Enter a number: ")
    if inp == "done":
        break
    value = float(inp)
    numlist.append(value)

average = sum(numlist)/len(numlist)
print("The average is:", average)

### Lists and Strings

A string is a sequence of characters and a list is a sequence of values, but a list of characters is not the same as a string.

In [69]:
# convert from a string to a list of characters

word = "Hello World"
word.split()

['Hello', 'World']

In [70]:
words = "Hello,world,this,is,python"
words.split(",") #specify delimeter if not space.

['Hello', 'world', 'this', 'is', 'python']

In [71]:
a

[4, 5, 61, 89]